<div class="row">

    <div class="col-sm-9">
        <app-server></app-server>
        <app-server></app-server>
    </div>
    <div class="col-sm-3 center">


        <div class="row">
            <div class="col-sm-12 center">
                <label for="serverName">Server Name</label>
                <input type="text" class="form-control" [(ngModel)]="serverName">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 center">
                <button [disabled]="!allowNewServer" type="button" class="btn btn-info btn-lg" id="createServer"
                    (click)="onCreateServer()">Add Server</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 center">
                <p *ngIf="serverCreated">Server {{ serverName }} was created.</p>
            </div>

        </div>

    </div>
</div>