<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="lead">
        <span class="glyphicon glyphicon-heart-empty"></span>
        I'm in the App Component!
        <span class="glyphicon glyphicon-heart-empty"></span>

      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-servers></app-servers>
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
</div>